.row
  .span4.offset4
    .well
      %h3 Edit #{resource_name.to_s.humanize}
      %hr
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = render "shared/error_messages", :target => resource
        = f.email_field :email, :class => 'xlarge', :placeholder => 'Email...'
        %br
        = f.password_field :password, :class => 'xlarge', :placeholder => 'Password...'
        %span.help-inline (leave blank if you don't want to change it)
        %br
        = f.password_field :password_confirmation, :class => 'xlarge', :placeholder => 'Password confirmation...'
        %br
        = f.password_field :current_password, :class => 'xlarge', :placeholder => 'Current password...'
        %span.help-inline (we need your current password to confirm your changes)

        .form-actions
          %button.btn.btn-primary{:type => 'submit'} Update #{resource_name.to_s.humanize}
          = link_to "Cancel", :back, :class => 'btn'

      %p
        Unhappy?
        = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
