.row
  .span4.offset4
    .well
      %h3 Sign up
      %hr
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = render "shared/error_messages", :target => resource
        %p
          = f.label :username
          = f.text_field :username, :class => 'xlarge'
        %p
          = f.label :email, :style => 'display:inline'
          %span{:style => 'color:red;'}*
          %br
          = f.email_field :email, :class => 'xlarge', :placeholder => 'example@example.com'
        %p
          = f.label :password, :style => 'display:inline'
          %span{:style => 'color:red;'}*
          %br
          = f.password_field :password, :class => 'xlarge', :placeholder => 'Password...'
          = f.password_field :password_confirmation, :class => 'xlarge', :placeholder => 'Password confirmation...'

        .form-actions
          %button.btn.btn-primary{:type => 'submit'} Sign up
          = link_to 'Cancel', :back, :class => 'btn'

      %p
        = render 'devise/shared/links'