= form_for @cash_flow_plan do |f|
  .row
    .span11
      = render "shared/error_messages", :target => @cash_flow_plan
  .row
    .span11
      = render 'form_header', :f => f
  .row
    .span11
      = render 'form_content', :f => f
  .row
    .span11
      = f.text_area :notes, :placeholder => 'Add some notes here...', :style => 'width:100%;height:100px;'