= t.hidden_field :name, :value => t.object.name
= t.hidden_field :category, :value => t.object.category
%tr
  %td= t.object.name.humanize
  %td
    = t.text_field :amount, :value => number_to_currency(t.object.amount, :unit => '') || '0.00', :class => "sub_total #{t.object.category}", :'data-category' => "#{t.object.category}"
  %td
  %td
    = t.text_field :actual, :value => number_to_currency(t.object.actual, :unit => '') || '0.00'
  %td
    = t.hidden_field :id