%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th{:width => '25%'} Date
      %th.text-right{:width => '25%'} Household Income
      %th.text-right{:width => '25%'} Budgeted
      %th.text-right{:width => '25%'} Remaining
  %tbody.asps_body
    - allocated_spending_plans.each do |allocated_spending_plan|
      %tr
        %td
          = allocated_spending_plan.date#, allocated_spending_plan_path(allocated_spending_plan)
          - if allocated_spending_plan.notes.present?
            %a.pop.no-underline{:href => "#asp_#{allocated_spending_plan.id}_notes", :'data-toggle' => "modal", :title => 'Notes', :'data-content' => allocated_spending_plan.notes.truncate(150)}
              %i.icon-tag
            %div.hide.fade.modal{:id => "asp_#{allocated_spending_plan.id}_notes"}
              %div.modal-header
                %a.close{:'data-dismiss' => 'modal'}x
                %h3 Notes
              %div.modal-body
                %p= allocated_spending_plan.notes
              %div.modal-footer
                %a.btn{:href => "#", :'data-dismiss' => "modal"} Close
          .pull-right
            %a.no-underline.tip{:href => edit_allocated_spending_plan_path(allocated_spending_plan), :title => 'Edit'}
              %i.icon-pencil
            %a.no-underline.tip{:href => clone_allocated_spending_plan_path(allocated_spending_plan), :title => 'Clone'}
              %i.icon-repeat
            %a.no-underline.tip{:href => allocated_spending_plan_path(allocated_spending_plan), :'data-method' => :delete, :'data-confirm' => "Are You Sure?  This action cannot be undone.", :title => 'Delete'}
              %i.icon-trash


        %td.text-right
          = number_to_currency(allocated_spending_plan.household_income)
        %td.text-right= number_to_currency(allocated_spending_plan.budgeted)
        %td.text-right{:style => "color:#{remaining_asp_color(allocated_spending_plan)}"}= number_to_currency(allocated_spending_plan.remaining)