%table.table.table-bordered.table-condensed{:style => 'margin-top: 15px;'}
  %thead.asp_head
    %tr
      %th{:width => '40%'}
      %th.center{:width => '15%'} Week 1
      %th.center{:width => '15%'} Week 2
      %th.center{:width => '15%'} Week 3
      %th.center{:width => '15%'} Week 4
  %tbody.asp_body{:style => 'background-color: #f5f5f5;'}
    %tr
      %td
      %td.center= f.number_field :week_1_date, :class => 'datepicker', :placeholder => 'yyyy-mm-dd', :value => @allocated_spending_plan.week_1_date, :style => 'width: 105px;'
      %td.center= f.number_field :week_2_date, :class => 'datepicker', :placeholder => 'yyyy-mm-dd', :value => @allocated_spending_plan.week_2_date, :style => 'width: 105px;'
      %td.center= f.number_field :week_3_date, :class => 'datepicker', :placeholder => 'yyyy-mm-dd', :value => @allocated_spending_plan.week_3_date, :style => 'width: 105px;'
      %td.center= f.number_field :week_4_date, :class => 'datepicker', :placeholder => 'yyyy-mm-dd', :value => @allocated_spending_plan.week_4_date, :style => 'width: 105px;'
    %tr
      %td
      %td
        %center
          %div.input-prepend{:style => 'width:117px;'}
            %span.add-on $
            = f.number_field :week_1_income, :placeholder => 'Income', :class => 'income week_income week_1_income', :'data-week' => "week_1", :autocomplete => :off
      %td
        %center
          %div.input-prepend{:style => 'width:117px;'}
            %span.add-on $
            = f.number_field :week_2_income, :placeholder => 'Income', :class => 'income week_income week_2_income', :'data-week' => "week_2", :autocomplete => :off
      %td
        %center
          %div.input-prepend{:style => 'width:117px;'}
            %span.add-on $
            = f.number_field :week_3_income, :placeholder => 'Income', :class => 'income week_income week_3_income', :'data-week' => "week_3", :autocomplete => :off
      %td
        %center
          %div.input-prepend{:style => 'width:117px;'}
            %span.add-on $
            = f.number_field :week_4_income, :placeholder => 'Income', :class => 'income week_income week_4_income', :'data-week' => "week_4", :autocomplete => :off
    %tr
      %td
      %td.center
        %input.disabled{:disabled => 'disabled', :value => '$0.00 left', :style => 'text-align:center;width:105px;', :class => 'week_1_remaining'}
      %td.center
        %input.disabled{:disabled => 'disabled', :value => '$0.00 left', :style => 'text-align:center;width:105px;', :class => 'week_2_remaining'}
      %td.center
        %input.disabled{:disabled => 'disabled', :value => '$0.00 left', :style => 'text-align:center;width:105px;', :class => 'week_3_remaining'}
      %td.center
        %input.disabled{:disabled => 'disabled', :value => '$0.00 left', :style => 'text-align:center;width:105px;', :class => 'week_4_remaining'}

- AllocatedSpendingPlanItem::CATEGORIES.each do |category|
  %table.table.table-striped.table-bordered.table-condensed{:style => 'margin-top: 15px;'}
    %thead.asp_head
      %tr
        %th.major{:width => '40%'}
          %a.no-underline.show_category{:href => "javascript:void(0)", :'data-category' => "#{category[:name]}"}
            %i.icon-th-list
          = category[:name].upcase
        %th.center{:width => '15%'} Week 1
        %th.center{:width => '15%'} Week 2
        %th.center{:width => '15%'} Week 3
        %th.center{:width => '15%'} Week 4
    %tbody.asp_body.hide{:'data-category' => "#{category[:name]}"}
      = f.fields_for :allocated_spending_plan_items, @allocated_spending_plan.allocated_spending_plan_items.select{|item| item.category?(category[:name])} do |t|
        = t.hidden_field :name, :value => t.object.name
        = t.hidden_field :category, :value => t.object.category
        %tr
          %td.major
            %span.green
              = t.object.name.humanize
            - cash_flow_plan_amount = @allocated_spending_plan.cash_flow_plan_items.detect{|item| item.category?(t.object.category) && (item.name == t.object.name)}.try(:amount)
            - if cash_flow_plan_amount
              %br
              = number_to_currency(cash_flow_plan_amount)
            = t.hidden_field :id
          %td
            %center
              %div.input-prepend{:style => 'width:117px;'}
                %span.add-on $
                = t.number_field :week_1_amount, :class => "sub_total #{t.object.category} week_sub_total week_1_sub_total", :'data-category' => "#{t.object.category}", :'data-week' => "week_1", :placeholder => '0.00', :autocomplete => :off
          %td
            %center
              %div.input-prepend{:style => 'width:117px;'}
                %span.add-on $
                = t.number_field :week_2_amount, :class => "sub_total #{t.object.category} week_sub_total week_2_sub_total", :'data-category' => "#{t.object.category}", :'data-week' => "week_2", :placeholder => '0.00', :autocomplete => :off
          %td
            %center
              %div.input-prepend{:style => 'width:117px;'}
                %span.add-on $
                = t.number_field :week_3_amount, :class => "sub_total #{t.object.category} week_sub_total week_3_sub_total", :'data-category' => "#{t.object.category}", :'data-week' => "week_3", :placeholder => '0.00', :autocomplete => :off
          %td
            %center
              %div.input-prepend{:style => 'width:117px;'}
                %span.add-on $
                = t.number_field :week_4_amount, :class => "sub_total #{t.object.category} week_sub_total week_4_sub_total", :'data-category' => "#{t.object.category}", :'data-week' => "week_4", :placeholder => '0.00', :autocomplete => :off