.content
  .hero-unit
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = devise_error_messages!
      .form-stacked
        %fieldset
          %legend Sign in
          .clearfix
            = f.label :email
            %div.input
              = f.email_field :email, :class => 'xlarge'
          .clearfix
            = f.label :password
            .input
              = f.password_field :password, :class => 'xlarge'
          - if devise_mapping.rememberable?
            .clearfix
              .input
                = f.check_box :remember_me
                = f.label :remember_me, :style => 'display:inline;'

          .actions
            = f.submit "Sign in", :class => 'btn primary'

          %p
            = render 'devise/shared/links'