!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Maggie Money
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <style type="text/css">
        body {
          padding-top: 60px;
        }
      </style>
  %body
    .topbar{:'data-dropdown' => "dropdown"}
      .fill
        .container
          %a.brand{:href=> root_path}Maggie Money
          -if current_user
            %ul.nav
              %li
                %a{:href => dashboard_path}Dashboard
              %li.dropdown
                %a.dropdown-toggle{:href => "javascript:void(0)"}Worksheets
                %ul.dropdown-menu
                  %li
                    %a{:href => budgets_path}Cash Flow Plans
            %ul.nav.secondary-nav
              %li.dropdown
                %a.dropdown-toggle{:href => "javascript:void(0)"}= current_user.email
                %ul.dropdown-menu
                  %li
                    %a{:href => 'javascript:void(0)'}Preferences
                  %li.divider
                  %li
                    %a{:href => sign_out_path, :method => :delete}Logout
          -unless current_user
            =form_tag user_session_path, :class => "pull-right" do
              =text_field_tag "user[email]", nil, :class => "input-small", :placeholder => "email"
              =password_field_tag "user[password]", nil, :class => "input-small", :placeholder => "password"
              %button.btn{:type => "submit"}Sign In

    .container
      - if flash[:success]
        .alert-message.success.fade.in{"data-alert" => "alert"}
          %a.close{:href => "#"}x
          %p=flash[:success]
      - if flash[:notice]
        .alert-message.info.fade.in{"data-alert" => "alert"}
          %a.close{:href => "#"}x
          %p=flash[:notice]
      - if flash[:warning]
        .alert-message.warning.fade.in{"data-alert" => "alert"}
          %a.close{:href => "#"}x
          %p=flash[:warning]
      - if flash[:error]
        .alert-message.error.fade.in{"data-alert" => "alert"}
          %a.close{:href => "#"}x
          %p=flash[:error]
      = yield
      %footer
        %p &copy; Maggie Money 2011
