!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Maggie Money
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => '/assets/favicon.ico', :rel => 'shortcut icon'}

    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  %body
    = render 'shared/navigation'
    .container{:style => 'margin-top: 60px;'}
      = render 'shared/flash', :flash => flash
      = yield
      = render 'shared/footer'
